@import '../styles/global.css';

.card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 300px;
  margin-top: 40px;
  padding: 10px;
}

.qrCode {
  border-radius: 10px;
  margin-bottom: 10px;
}

.title {
  font-size: 20px;
  color: var(--title-color);
  font-weight: 700;
  padding: 0px 10px;
  margin-bottom: 8px;
}

.description {
  font-size: var(--font-size);
  color: var(--description-color);
  font-weight: 400;
  padding: 0px 10px;
  margin-top: 5px;
  margin-bottom: 30px;
}
